@media(min-width: 480px) {
    
    .Actions {
        position: fixed;
        right: 8px;
        top: 25px;
        flex-direction: row;
    }
}

@media(min-width: 1080px) {
    html, body {
        font-size: 14px;
    }

    #Employement h2 {
        margin-bottom: 80px;
    }

    .Header__wrapper {
        align-self: center;
    }

    .Header__wrapper, .Content__wrapper {
        max-width: 800px;
    }

    .SingleRowSection {
        justify-content: space-between;
    }

    .SingleRowSection .Subsection {
        flex-basis: auto
    }

    .Section--wide {
        max-width: 800px;
        margin: 0;
    }

    .Section--wide .Subsection {
        margin: 40px 0 120px;
    }

    .Subsection {
        flex-basis: calc(33% - 16px);
    }

    html, body {
        font-size: 18px;
    }

    h2 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 40px;

    }
    
    h3 {
        margin-top: 40px;
        font-size: 20px;
        line-height: 48px;
    }

    h3.ProjectTitle {
        font-size: 28px;
        margin: 20px 0 16px;
    }
    
    .Header {
        padding: 40px 16px 80px;
    }
    
    .StickyHeader {
        padding: 100px 16px 20px;
        top: -80px;
    }

    .Section__wrapper {
        width: 100%;
    }

    .Section__wrapper:not(.Section__wrapper--filled):not(:last-child) {
        margin-bottom: 140px;
    }

    section ul li {
        padding: 8px;
    }

    p {
        font-size: 20px;
    }
    
    .Contact__item {
        font-size: 20px;
    }

    .Contact__item:not(:last-child) {
        margin-right: 40px;
    }
    
    .Intro {
        font-size: 18px;
        text-align: justify;
    }
    
    .Content {
        padding: 100px 0;
    }
    
    .ProjectImage {
        height: 400px;
        border-radius: 4px;
    }

    .Content__wrapper > :last-child {
        margin-bottom: 60px;
    }

    .Section__wrapper--filled {
        margin: -20px calc((100vw - 100%) / -2) 120px;
        padding: 120px calc((100vw - 100%) / 2);
    }
}

@media (min-width: 1280px) {
    .Header__wrapper, .Content__wrapper {
        max-width: 960px;
    }

    .Contact__item:not(:last-child) {
        margin-right: 80px;
    }

    .Section--wide {
        max-width: 960px;
    }
}