---
interface Props {
  title: string;
  items: unknown[];
}

const { title, items } = Astro.props;
---

<article>
  <h3 class="mb-2 text-lg text-[#888]">{title}</h3>
  <ul class="space-y-2 border-l border-[#d9d9d9] pl-3">
    {items.map((item) => <li>{item as any}</li>)}
  </ul>
</article>
