---
interface Props {
  title: string;
  items: unknown[];
}

const { title, items } = Astro.props;
---

<article>
  <h3 class="mb-2 font-semibold tracking-wide uppercase text-sm opacity-40">{title}</h3>
  <ul class="space-y-2 border-l border-[#d9d9d9] pl-3">
    {
      items.map((item) => (
        <li
          class:list={[
            typeof item === "string" && item.startsWith("//")
              ? "opacity-30 font-semibold before:!hidden print:-translate-x-5 uppercase text-sm tracking-wide !list-none"
              : "font-medium",
          ]}
        >
          {item as any}
        </li>
      ))
    }
  </ul>
</article>
